* {
  box-sizing: border-box;
}

h1 {
  font-size: 32px !important;
}

.bouton {
  display: flex;
}

.btnprojets {
  margin-left: 100px;
}
.cv {
  padding-top: 200px;
  color: white;
}

.descriptionProjet {
  min-height: 200px;
}

.presentation {
  margin-top: 200px;
  color: white;
  font-family: Open Sans,sans-serif;  
  font-size: 20px;
  max-width: 400px;
  text-align: left;
}

.skills {
  margin-top: 220px;
  margin-left:280px;
  max-width: 400px;
}
/* Container pour flex box qui regroupe images */
.ligne, .lesprojets {
  display:flex;
}

.lesprojets {
  margin-top:10px;
}

.messkills, .tooltiptext, .descriptionProjet {
  color: white;
  font-family: Open Sans,sans-serif;
  font-size: 20px;
}

.iconify {
  width: 2.5em;
  height: 2.5em;
  text-decoration: none;
}

.projet {
  padding-right: 150px;
  max-width: 600px;
  
}
.monlinkedin, .mongit {
  color: white;
  text-decoration: none;
}
.tooltiptext {
  visibility:hidden;
  /*width: 420px !important;*/
  /*background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  
  /* Position the tooltip text */
  position: relative;
  z-index: 1;
  
  left: 60%;
  margin-left: -60px;

  /* Fade in tooltip */
  /* opacity: 0;
  transition: opacity 0.3s; */ 
}

/* Tooltip arrow */
.tooltiptext::after {
  content: "";
  position: absolute;
  top: 35%;
  right: 100%;
  margin-top: -5px;
  margin-right:2px;
  border-width: 9px;
  border-style: solid;
  border-color: transparent blue transparent transparent;
} 

/* Show the tooltip text when you mouse over the tooltip container */
.sql:hover .tooltiptext, .nodejs:hover .tooltiptext, .react:hover .tooltiptext, .javascript:hover .tooltiptext,  .git:hover .tooltiptext, .csharp:hover .tooltiptext, .graphql:hover .tooltiptext {
  visibility: visible;
  color: white;
}